[Unit]
StartLimitInterval = 200
StartLimitBurst = 5

[Container]
Image = ${IMAGE}
Environment = INFLUXDB_V2_URL=http://influxdb:8086
Environment = MQTT_BROKER=emqx
Environment = LOG_PATH=/var/lib/bridger/logs/bridger.log
EnvironmentFile = /home/andy/.config/bridger.env
Network = bridger.network
HostName = bridger
Volume = bridger-data.volume:/var/lib/bridger

[Install]
WantedBy = default.target

[Service]
Restart = always
RestartSec = 30
