[Unit]
Before = emqx.service

[Container]
HostName = certbot
Exec = certonly --standalone --non-interactive --agree-tos -d mqtt.austinmesh.org --email andys@andyshinn.as
PublishPort = 8094:80
Image = docker.io/certbot/certbot:v4.1.1
Volume = certbot-conf.volume:/etc/letsencrypt
Volume = certbot-data.volume:/var/lib/letsencrypt
Network = bridger.network

[Service]
Type = oneshot
RemainAfterExit = no

[Install]
WantedBy = default.target
