[Container]
Image = docker.io/grafana/grafana-oss:11.1.0
PublishPort = 3000:3000
Volume = grafana-storage.volume:/var/lib/grafana
Environment = GF_AUTH_ANONYMOUS_ENABLED=true
Environment = GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
Environment = GF_AUTH_ANONYMOUS_ORG_NAME="Austin Mesh"
Environment = GF_AUTH_ANONYMOUS_HIDE_VERSION=true
Environment = GF_SECURITY_ALLOW_EMBEDDING=true
Network = bridger.network

[Service]
Restart = always

[Install]
WantedBy = default.target
