[Container]
Image = docker.io/grafana/grafana-oss:12.0.2
PublishPort = 3000:3000
Volume = grafana-storage.volume:/var/lib/grafana
Environment = GF_AUTH_ANONYMOUS_ENABLED=true
Environment = GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
Environment = GF_AUTH_ANONYMOUS_ORG_NAME="Austin Mesh"
Environment = GF_AUTH_ANONYMOUS_HIDE_VERSION=true
Environment = GF_SECURITY_ALLOW_EMBEDDING=true
Environment = GF_SERVER_ROOT_URL=https://graphs.austinmesh.org/
Environment = GF_SERVER_PROTOCOL=https
Environment = GF_RENDERING_SERVER_URL=http://image-renderer:8088/render
Environment = GF_RENDERING_CALLBACK_URL=https://graphs.austinmesh.org/render
Network = bridger.network
HostName = grafana

[Service]
Restart = always

[Install]
WantedBy = default.target
