[Container]
Image = public.ecr.aws/bitnami/grafana-image-renderer:3.12.5
PublishPort = 8084:8084
Environment = HTTP_PORT=8084
Environment = HTTP_HOST=0.0.0.0
Network = bridger.network
HostName = image-renderer

[Service]
Restart = always

[Install]
WantedBy = default.target
