[Unit]
StartLimitInterval = 200
StartLimitBurst = 5

[Container]
Exec = '-config.file=/mnt/config/promtail.yaml'
Image = docker.io/grafana/promtail:3.4.2
Network = bridger.network
HostName = promtail
Volume = bridger-data.volume:/var/lib/bridger
Volume = promtail-data.volume:/var/lib/promtail
Volume = /home/andy/.config/bridger:/mnt/config

[Install]
WantedBy = default.target

[Service]
Restart = always
RestartSec = 30
